<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
    <!--
	  <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-B65PT5K5\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MSC2EQ33\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GL5VFUC\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
	  <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hightek.com.mx;initial catalog=PizzasBD;User id=tmp_user;Password=mYzMv4vSgQY6HqjKdaE7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <userSettings>
  <Presentacion.Properties.Settings>
   <setting name="IntentosDeInicioDeSesion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UltimoBloqueoDeAcceso" serializeAs="String">
    <value />
   </setting>
  </Presentacion.Properties.Settings>
 </userSettings>
</configuration>