<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Jonathan-Lap\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MSC2EQ33\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="PizzasBDEntities" connectionString="metadata=res://*/PizzasCastillo.csdl|res://*/PizzasCastillo.ssdl|res://*/PizzasCastillo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GL5VFUC\SQLEXPRESS;initial catalog=PizzasBD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    -->
  </connectionStrings>
</configuration>